div.loginBody {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

div.loginLeft {
  width: 50%;
  background-color: #9fdeaf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1.lefth1 {
  font-size: 40px;
  color: white;
  font-family: "McLaren", cursive;
}

p.signupINS {
  padding-top: 20px;
  font-size: 13px !important;
}

.loginLeft p {
  font-size: 1.5vw;
  font-family: "McLaren", cursive;
}

button.switch-button {
  border: 2px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  text-decoration: underline #9fdeaf !important;

}

button.switch-button:hover {
  color: gray;
  border: 2px solid gray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);


}

.loginRight {
  width: 50%;


}

h1.righthead {
  color: #9fdeaf;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6vw;
  margin-top: 5vw;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  width: 100%;

}

.social-media-buttons .icon {
  width: 40px;
  height: 40px;
  border: 2px solid #dadada;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.small {
  font-size: 13px;
  color: grey;
  font-weight: 200;
  display: flex;
  justify-content: center;
  font-family: "McLaren", cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

form#sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-buttons .icon svg {
  width: 25px;
  height: 25px;
}

#sign-in-form input {
  margin: 15px;
  font-size: 14px;
  padding: 15px;
  width: 30vw;
  font-weight: 300;
  border: none;
  background-color: #e4e4e494;
  font-family: "McLaren", cursive;
  letter-spacing: 1.5px;
  padding-left: 20px;

}

#sign-in-form input::placeholder {
  letter-spacing: 1px;
}

.forgot-password {
  font-size: 12px;
  display: inline-block;
  border-bottom: 2px solid #efebeb;
  font-family: "McLaren", cursive;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot-password:hover {
  cursor: pointer;
}

button.control-button.in {
  width: 150px;
  height: 45px;
  border: 2px solid;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #9fdeaf;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

button.control-button.in:hover {

  border: 2px solid #9fdeaf;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);


}

@media screen and (max-width :850px) {

  div.loginBody {
    display: flex;
    flex-direction: column;
  }

  div.loginLeft {
    width: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    height: 100vh
  }

  h1.lefth1 {
    font-size: 45px;
  }

  p.signupINS {
    font-size: 15px !important;
  }

  .loginLeft p {
    font-size: 18px;
    max-width: 90%;
    word-wrap: break-word;
    word-break: break-all;
    text-align-last: center;
  }

  .loginRight {
    width: 100%;
  }

  #sign-in-form input {
    margin: 13px;
    font-size: 14px;
    width: 70vw;
  }

  h1.righthead {
    margin-top: 40px;
  }

}