* {
 margin:0;
 padding:0;
 box-sizing: border-box;
}

li{
    list-style-type: none;
    margin-top: 0.5vw;
}

a{
    text-decoration: none;
    
    
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: Poppins;
    background-color: lightgray;
    ;
}


nav .logo{
    font-size: 30px;
    font-weight: 900;
    
}

nav .nav-links{
    display:flex;
    justify-content: space-around;
    width: 55%;
    
    
    
}

nav .nav-links a{
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
    
    
    
    
    
}

ul.nav-links{
    margin-top: 1vw;
    transform: translate3d(0vw, 0, 0);
    
}

nav .nav-links a:hover {
    color: #ffffff !important;
    text-decoration: none;
}

nav .nav-links button{
    background-color: #616161;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    
}
nav .nav-links button:hover{
    opacity: 50%;
}

nav .burger{
font-size: 27px;
display: none;
cursor: pointer;
}

@media all and (max-width :850px) {

   
  nav .burger{
      display: block;
      margin-left:10vw
  } 
  
  nav .nav-links{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height:100vh;
      background-color:lightgray ;
      padding-top:40px;
      padding-right: 30px;
      padding-left: 30px;
      width: 50%;
      transform: translate3d(-100vw, 0, 0);
      transition: transform .3s cubic-bezier(0, .52, 0, 1);
      overflow: hidden;
  }

  nav .nav-links a{
    font-size: 16px;
    cursor: pointer;
    
    
    
    
    
}

  nav .nav-links li{
      padding-top:25px;
      padding-bottom: 25px;
      border-bottom: 1.5px solid black;
      
  }
  nav .nav-links li:last-child { border-bottom: none; }

  
  nav .nav-links button{
      font-size: 20px;
      
      
  }
  
}

@media all and (max-width :1020px) and (min-width :850px) {

    nav .logo{
        font-size: 25px;
        font-weight: 900;
        
    }
    nav .nav-links a{
        font-size: 13px;
        cursor: pointer;
        font-weight: 900;
        
        
        
    }
    nav .nav-links button{
        font-size: 13px;
        
        
    }


} 